.nav-wrapper{
  border-bottom: 1px solid #80808045;
}

.link:hover {
    text-decoration: underline;
    color:white !important;
    background-color: #0d47a1 !important;
  
}

.brand-logo {
  width: 20%;
  margin-left: 20px;
}

.banner {
  background-color:#0d47a1;
  height: 450px;
}

.banner-center {
  margin: 0px auto;
  width: 65%;
  padding: 5em 2em;
}

.what-we-do h4 {
  margin-top: 0;
  padding-top: 20px;
}

.what-we-do-section {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0px auto;
}

.what-we-do-text {
  max-width: 50%;
  line-height: 2.2em;
}

.what-we-do-image {
  width: 50%;
  height: auto;
  align-items: center;
}

img {
  width: 100%;
}

.Plan-heading {
  padding: 1em;
}

.Plans {
  margin-bottom: 0px;
}

.testimonial h4 {
  margin-top: 0px;
  padding: 1em;
}

.testimonial-body {
  width: 80%;
  margin: 0px auto;
}

.page-footer {
  padding-top: 10px;
}

.container {
  padding: 0;
  width: 100%;
}


.footer-container {
  width: 100%;
}

.copyright {
  margin-left: 10%;
}

.contact {
  line-height: 25px;
}
/* .cover {
  background-image: url('./logo1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* opacity: 0.3; */


.register, .login {
  width: 40%;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 4px 2px rgba(38, 153, 251, .18);
}

.register-title {
  display: block;
  width: 12%;
  margin: 0 auto;
}


input {
  width: 100%;
  padding: 10px 12px;
}

.buttonForm {
  width: 100%;
  margin-bottom: 10px;
}

.dashboardsidenav li a {
  color: white;
  margin: 50px 0;
}

.navsidebar {
  height: 100vh;
}

.divider {
  background: black important;
}